{{!-- The below navigation bar was from: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_inverse&stacked=h --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Side Project One</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="login">Log In</a></li>
      <li class="active"><a href="#">Sign Up</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
<h3>Enter Your Information Below to Register a New Account: </h3>
<br />
{{!-- The following form style was from: https://getbootstrap.com/docs/4.0/components/forms/ --}}
  <form>
  {{!-- First and Last Names --}}
   <div class="form-group col-sm-6">
    <label for="firstName">First Name</label>
    <input class="form-control" id="firstName" placeholder="First Name" required>
  </div>
    <form>
   <div class="form-group col-sm-6">
    <label for="LastName">Last Name</label>
    <input class="form-control" id="LastName" placeholder="Last Name" required>
  </div>
  {{!-- Email Address --}}
  <div class="form-group col-sm-12">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
  </div>
  {{!-- Password --}}
   <div class="form-group col-sm-12">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  {{!-- BirthDate --}}
  <div class="form-group col-sm-12">
   <label for="birthday">Birthday</label>
  </div>
  <div class="form-group col-sm-16">
    <div class="col-sm-4">
     <input class="form-control" id="day" placeholder="Day">
    </div>
     <div class="col-sm-4">
     <input class="form-control" id="month" placeholder="Month">
    </div>
    <div class="col-sm-4">
     <input class="form-control" id="year" placeholder="Year">
    </div>
  </div>
{{!-- Submit --}}
<div class="col-sm-12">
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>
</body>
</html>
