<div class="container">
  <h2>Administrator Registration</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <!-- Email -->
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="administrator.email" name="email"
        #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">

      <!-- Adds visuals to the errors if the field is empty or does not follow the pattern specified -->
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.pattern">
          Email must follow the pattern: name@email.com
        </div>
        <div *ngIf="email.errors.required">
          Email is required
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required minlength="6" #password="ngModel" password
        [(ngModel)]="administrator.password" name="password" ngModel>

      <!-- Adds visuals to the errors if the field is empty or does not follow the minimum length specified -->
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.minlength">
          Password must have at least 6 characters
        </div>
        <div *ngIf="password.errors.required">
          Password is required
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit</button>

  </form>
</div>