<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>  
  <div class="container">
  <!-- The following form style was from: https://getbootstrap.com/docs/4.0/components/forms/ -->
  <form [formGroup]="form" (ngSubmit)="registerService.onSubmit(form.value)">
    <!-- Email Address  -->
    <div class="form-group col-sm-12">
      <label for="email">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="name@example.com" required>
    </div>
    <!-- Password  -->
    <div class="form-group col-sm-12">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
    </div>
    <!-- Submit  -->
    <div class="col-sm-12">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>
</body>
